*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


.info {
    font-size: 24px;
}

.titulo {
    font-size: 18px;
    flex-grow: 10;
}


label,input,.container-reglog {
   display: flex;
   width:300px;
   justify-content: space-between;
   margin: auto;
}
.submit {
    margin-top: 10px;
    text-align: center;
    display: block; 
    border-radius: 5px;
    margin-bottom: 20px;
}
label {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}
input{
    height: 30px;
    margin-bottom: 10px;
}

.container-input {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fondo {
    filter: opacity(0.3);
    position: absolute;
    width: 100%;
    z-index: -99;
    height: 100%;
    object-fit: cover;
}

.errorsesion {
    color: red;
    display: block;
   width:300px;
   margin: auto;
}

.login {
    display: block;
}
.register {
    display: none;
}

.reglog {
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: auto 2px;
    outline: 2px solid rgba(255, 0, 0, 0.4);
    background-color:rgba(190, 182, 182, 0.534);
    color: rgb(19, 18, 18);
    cursor: pointer;
    opacity: .5;
}
.container-reglog {
    margin-bottom: 20px;
}

.active {
    outline: 2px solid rgba(0, 255, 0, 0.4);
    background-color:rgba(13, 51, 16, 0.815);
    color: rgb(255, 255, 255);
    opacity: 1;
}

.registrobody {
    width: 100%;
    height: 100%;
    background-image: url(https://t3.ftcdn.net/jpg/03/03/86/30/360_F_303863027_ih1zUUZTGq7UKq6d0TyX96x4f2C0c7RB.jpg);
}

h2 {
    width: 100%;
    text-align: center;
}

a[href="c"] {
    color: white;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn.icon-icons.com/icons2/368/PNG/512/Logout_37127.png);
    background-position: center;
    background-size: contain;
    margin: auto;
    
}
.mein {
    display: flex;
}
.principal {
    background-color: red;
    flex-basis: 80%;
    height: 400px;
}

aside {
    background-color: blue;
    flex-basis: 20%;
    height: 400px;
}

footer {
    height: 200px;
    background-color: aqua;
    width: 100%;
}